<h1>Create New Session</h1>

<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>username
    <input type="text" name="user[username]">
  </label>

  <label>password
    <input type="text" name="user[password]">
  </label>

  <input type="submit" value="Sign In">

</form>
