<h1>New user</h1>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>username
    <input type="text" name="user[username]">
  </label>

  <label>password
    <input type="text" name="user[password]">
  </label>

  <input type="submit" value="Create User">

</form>
